/*  your css code here. If applicable */
.container{
	background-color:#ADD8E6;
	border: 2px solid black;
	width:250px;
	height: 250px;
	margin: 50% auto;
}

p{
	color:purple;
	text-align: center;
	margin-top:50%;
}